$base-size: 10px;

$color--light: #b278c6;
$color--dark: #502f5f;

:root {
  --accent-color: #cd9bdd;
  --default-color: #b278c6;
}

* {
  box-sizing: border-box;
}

html {
  font-size: $base-size;
}

body {
  font-family: "Press Start 2P", cursive;
  position: relative;
  background: $color--dark;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color--light;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  transition: 0.1s;
  background: $color--light;
}

.music-controls {
  padding: 2rem;
}
